VB.NET WCF how to host and use  data service (access service). Data.Common. DataCommon/VB/Web_Consuming_WebService/Service References/serviceSQL/WindowsServiceSQL2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFhostVBnet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFhostVBnet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/WindowsServiceSQL?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SqlDataIn">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SqlParam" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="SqlText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SqlType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlDataIn" nillable="true" type="tns:SqlDataIn" />
  <xs:complexType name="SqlDataOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataSetOut" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="intOut" type="xs:int" />
      <xs:element minOccurs="0" name="strError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlDataOut" nillable="true" type="tns:SqlDataOut" />
</xs:schema>