VB.NET WCF how to host and use  data service (access service). Data.Common. DataCommon/VB/Web_Consuming_WebService/Service References/serviceSQL/WindowsServiceSQL4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/WindowsServiceSQL?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFhostVBnet" />
  <xs:element name="GetDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFhostVBnet" minOccurs="0" name="root" nillable="true" type="q1:SqlDataIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFhostVBnet" minOccurs="0" name="GetDataSetResult" nillable="true" type="q2:SqlDataOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSqlNonQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFhostVBnet" minOccurs="0" name="root" nillable="true" type="q3:SqlDataIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSqlNonQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFhostVBnet" minOccurs="0" name="ExecuteSqlNonQueryResult" nillable="true" type="q4:SqlDataOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceOK">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceOKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceOKResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>